spring:
  datasource:
    driver-class-name: 
    url: 
    username: 
    password: 

  thymeleaf:
    cache: false
    prefix: file:src/main/resources/templates/
    devtools:
      livereload:
        enabled: true
      restart:
        enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true

logging.level:
  org.hibernate:
    SQL: debug
#    type: trace # (Spring boot 2.X.X)
    orm.jdbc.bind: trace # (Spring boot 3.X.X)
