<html layout:decorate="~{layout}">
<div layout:fragment="content" class="py-12 flex justify-center">

    <script>
        function LoginForm__submit(form) {

            form.name.value = form.name.value.trim();

            if (form.name.value.length == 0) {
                alert('아이디를 입력해주세요.');
                form.name.focus();
                return;
            }

            if (form.name.value.length < 4) {
                alert('아이디를 4자 이상 입력해주세요.');
                form.name.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length == 0) {
                alert('비밀번호를 입력해주세요.');
                form.password.focus();
                return;
            }

            if (form.password.value.length < 4) {
                alert('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-md w-screen">
        <form th:action method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" onsubmit="LoginForm__submit(this); return false;">
            <div class="mb-4">
                <input name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="아이디">
            </div>
            <div class="mb-6">
                <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="비밀번호">
            </div>
            <div class="flex justify-center mb-2">
                <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    로그인
                </button>
            </div>
            <div class="flex justify-center">
                <a href="/member/signup" class="text-center w-full bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    회원가입
                </a>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2023 어? 금지 All rights reserved.
        </p>
    </div>

</div>
</html>