<html layout:decorate="~{layout}">
<div layout:fragment="content" class="py-12 flex justify-center">

    <div class="max-w-2xl w-screen bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 divide-y divide-gray-200">
        <h3 class="px-3 py-1 text-lg font-semibold text-gray-700 mr-2 my-4">내 정보</h3>
        <div class="grid grid-cols-2">
            <span class="px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-4">ID</span>
            <span class="justify-items-end bg-gray-100 rounded-md px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-4">username</span>
        </div>
    </div>

</div>
</html>