<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="py-12">

    <div th:each="category : ${categories}"
         class="bg-white rounded-md shadow-md mb-8 overflow-hidden">

        <a th:href="@{/board/list(id=${category.id})}">
            <div class="p-6">

                <h2 th:text="${category.name}"
                    class="text-2xl font-bold mb-4"></h2>

                <p th:text="${category.about}"
                   class="text-gray-700 mb-6"></p>

                <p th:text="|총 게시글 ${category.boards.size()}|"
                   class="text-gray-700 mb-6"></p>

                <div class="flex justify-between text-gray-500 text-sm">
                    <span th:text="${#temporals.format(category.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                </div>

            </div>
        </a>
    </div>
    <a href="/category/create"
       class="bg-blue-500 text-white py-2 px-4
               rounded-md hover:bg-blue-600 transition
               duration-200 ease-in-out cursor-pointer">
        카테고리 만들기
    </a>

</div>
</html>