<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="py-12">
    <body class="bg-gray-200">
        <div class="container mx-auto my-12 px-4">
            <div class="md:flex">
                <img class="h-64 md:w-1/3 object-cover object-center rounded-lg shadow-md" src="https://source.unsplash.com/random" alt="team-photo">
                <div class="md:w-2/3 md:ml-6">
                    <h2 class="text-3xl font-bold mb-2">Team Name</h2>
                    <p class="text-gray-700 text-xl">Description of the team. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <ul class="my-4 text-gray-700 text-lg">
                        <li>Location: Seoul, Korea</li>
                        <li>Number of members: 5</li>
                        <li>Interests: Machine learning, Data analysis</li>
                    </ul>
                    <a href="#" class="bg-gray-900 text-white py-2 px-4 rounded-lg hover:bg-gray-800">Join Us</a>
                </div>
            </div>
        </div>
    </body>
</div>
</html>